.form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 2rem;
}

.label {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.padTop {
  padding-top: 0.5rem;
}

.form textarea {
  width: 100%;
}

.submit {
  width: 100%;
  background: var(--yellowtopurple);
  border: 0;
  outline: 0;
  padding: 0.5rem;
}
