.nav {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  padding: 3px;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(252, 253, 29, 1) 20%,
    rgba(26, 255, 0, 1) 40%,
    rgba(44, 48, 253, 1) 60%,
    rgba(253, 55, 252, 1) 80%,
    rgba(252, 69, 69, 1) 100%
  );
}

.link {
  display: flex;
  flex: 1 1 180px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--purple);
  text-transform: uppercase;
  background-color: var(--black);
  border: 0;
  outline: none;
  font-size: 0.8rem;
}

.link svg {
  font-size: 1.25rem;
}

@media only screen and (min-width: 400px) {
  .nav {
    display: flex;
    padding: 5px 0;
    gap: 5px;
    background-color: var(--black);
  }

  .link {
    flex: 1 1 381px;
  }
}
