:root {
  /* Colors */
  --black: #111;
  --white: #efe;
  --red: rgba(255, 90, 73, 1);
  --purple: rgba(255, 0, 142, 1);
  --yellow: rgba(255, 248, 0, 1);
  --blue: rgba(0, 243, 255, 1);
  --darkBlue: rgb(0, 104, 189);
  --orange: rgb(255, 217, 0);

  /* Variables */
  --padding: 2rem;

  /* Gradients */
  --bluetoyellow: linear-gradient(135deg, var(--blue) 0%, var(--yellow) 100%);
  --yellowtoblue: linear-gradient(135deg, var(--yellow) 0%, var(--blue) 100%);
  --redtoblue: linear-gradient(225deg, var(--blue) 0%, var(--red) 100%);
  --yellowtopurple: linear-gradient(
    135deg,
    var(--yellow) 0%,
    var(--purple) 100%
  );
  --purpletoyellow: linear-gradient(
    135deg,
    var(--purple) 0%,
    var(--yellow) 100%
  );
}

body {
  color: var(--white);
  background-color: var(--black);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
}

.pink {
  color: var(--pink);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
